body {
    background-color: #e6e6fa; /* Define a cor de fundo */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
    min-height: 100vh; /* Garante que o body ocupe toda a altura da janela */
}
