* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* Remove o padding e a margem de todos os elementos e define a 
    fonte padrão como Arial, com fallback para Helvetica e sans-serif. */
}

header {
    background-color: #E6E6FA;
    /* Define a cor de fundo do cabeçalho como um tom lilás claro (#c9bbe4). */

    box-shadow: 0px 3px 10px #E6E6FA;
    /* Adiciona uma sombra ao cabeçalho, com um deslocamento de 0px na horizontal,
     3px na vertical e 10px de desfoque. A sombra tem a mesma 
     cor do fundo, criando um efeito sutil. */
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    /* Define a barra de navegação como um contêiner flexível, 
    espaçando os itens uniformemente entre as extremidades. 
    Adiciona um padding de 1.5rem nas partes superior
     e inferior, e 6rem nas laterais. */
}

.logo {
    display: flex;
    align-items: center;
    /* Configura o logo como um contêiner flexível 
    e alinha seu conteúdo verticalmente ao centro. */
}

.logo h1 {
    color: #23008D;
    /* Define a cor do texto do logo (o título H1) 
    como um tom roxo escuro (#2f106e). */
}

.nav-list {
    display: flex;
    align-items: center;
    /* Define a lista de navegação como um contêiner flexível,
     alinhando os itens verticalmente ao centro. */
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    /* Define a lista (<ul>) como flexível, centralizando os itens 
    horizontalmente e removendo o estilo padrão dos marcadores de lista. */
}

.nav-item {
    margin: 0 15px;
    /* Adiciona uma margem horizontal de 15px em cada
     item de navegação (<li>), espaçando-os uniformemente. */
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #23008D;
    font-weight: 400;
    /* Remove o sublinhado dos links, define o tamanho da fonte para 1.15rem, 
    aplica a cor roxo escuro (#2f106e) e define o peso da fonte como 400 (normal). */
}



.login-button button a {
    text-decoration: none;
    color: #23008D;
    font-weight: 500;
    font-size: 1.1rem;
    /* Estiliza o link dentro do botão de login: remove o sublinhado,
     define a cor do texto como roxo escuro (#2f106e), aplica um peso de fonte 500 (semi-bold) 
     e define o tamanho da fonte para 1.1rem. */
}

.mobile-menu-icon {
    display: none;
    /* Esconde o ícone do menu mobile por padrão
     (ele só aparece em telas menores). */
}



.mobile-menu {

    display: none;
    /* Esconde o menu mobile por padrão
     (ele só aparece quando o ícone é clicado). */
}

@media screen and (max-width: 730px) {
    /* Define estilos que serão aplicados apenas em telas com largura máxima 
    de 730px (layout responsivo para dispositivos móveis). */

    .nav-bar {
        padding: 1.5rem 4rem;
        /* Reduz o padding lateral da barra de navegação 
        para 4rem em telas pequenas. */
    }

    .nav-item {
        display: none;
        /* Esconde os itens de navegação 
        padrão em telas pequenas. */
    }

    .login-button {
        display: none;
        /* Esconde o botão de login em telas pequenas. */
    }

    .mobile-menu-icon {
        color: #23008D;
        display: block;
        /* Exibe o ícone do menu mobile em telas pequenas. */
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        /* Estiliza o botão do ícone do menu mobile: 
        fundo transparente, sem borda, e cursor de ponteiro. */
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        /* Exibe os itens do menu mobile em uma coluna vertical,
         centraliza o texto e adiciona padding inferior de 1rem. */
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
        /* Exibe os itens de navegação no menu mobile, 
        com um padding superior de 1.2rem para espaçamento. */
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
        /* Exibe o botão de login no menu mobile, com padding 
        interno de 1rem nas partes superior e inferior, e 2rem nas laterais. */
    }

    .mobile-menu .login-button button {
        width: 100%;
        /* Faz o botão de login ocupar 100% da 
        largura disponível no menu mobile. */
    }

    .open {
        display: block;
        /* Classe auxiliar para exibir o menu mobile
         quando a função JavaScript for chamada. */
    }
}