* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #6e5cb5;
    width: 30%;
    padding: 20px;
    color: rgb(1, 3, 160);
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: rgb(1, 3, 160);
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.content {
    background-color: #e1d8f0;
    width: 70%;
    padding: 20px;
}

.content h2 {
    color: #4f3c75;
    margin-bottom: 20px;
}

.info_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.info_item span {
    font-size: 16px;
    margin-right: 10px;
}

input {
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 70%;
    padding: 5px;
}

input:disabled {
    color: #4f3c75;
}

.edit_btn {
    background-color: #4f3c75;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit_btn:hover {
    background-color: #3c2958;
}

footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

footer img {
    width: 100px;
}
