.pageBackground {
    background-color: #d3d3f9; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
}

.section {
    margin: 10px;
    padding: 10px;
    color: #3b00b9;
}

.text{
text-align: justify;

}

.text p{
    font-size: 20px;
}


.contatos ul li {
    color: #3b00b9;
    font-size: 30px;
}

.section h1 {
   
    color: #3b00b9;
}
