* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    /* Remove margens e preenchimentos padrão, define a caixa de contagem 
    de tamanhos e define a fonte como Arial */
}

body {
    background-color: #f0eef8;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Define a cor de fundo, a cor do texto, organiza o layout como flexbox, 
    define a direção dos itens e garante que o corpo ocupe pelo menos 100% da altura da tela */
}

header {
    background-color: #E6E6FA;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 3px 10px rgba(230, 230, 250, 0.8);
    /* Define a cor de fundo, espaçamento interno, uma borda na parte inferior e 
    uma sombra sutil para o cabeçalho */
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    /* Usa flexbox para organizar os itens, com espaçamento entre eles e 
    define um espaçamento interno horizontal */
}

.logo {
    display: flex;
    align-items: center;
    /* Alinha verticalmente o conteúdo dentro do logo */
}

.logo h1 {
    color: #23008D;
    /* Define a cor do título no logo */
}

.nav_list {
    display: flex;
    align-items: center;
    /* Usa flexbox para alinhar os itens de navegação ao centro */
}

.nav_list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    /* Remove a lista padrão e organiza os itens horizontalmente */
}

.nav_item {
    margin: 0 15px;
    /* Define um espaçamento lateral entre os itens de navegação */
}

.nav_link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #23008D;
    font-weight: 400;
    /* Remove o sublinhado dos links, define o tamanho da fonte e cor */
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Usa flexbox para centralizar o conteúdo do main verticalmente e horizontalmente */
}

.login_section {
    width: 100%;
    position: relative;
    color: #2a2973;
    /* Define a largura total e a posição relativa da seção de login */
}

.form_container {
    background-color: white;
    padding: 20px;
    margin-top: -20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    position: relative;
    margin-left: 100px;
    /* Define estilo para o formulário, incluindo cor de fundo, sombras, bordas e largura máxima */
}

h2 {
    color: #3A3A8F;
    margin-bottom: 10px;
    /* Estiliza o título h2 com cor e espaçamento inferior */
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* Define estilo para campos de entrada e selects, incluindo largura, preenchimento e bordas arredondadas */
}

button.register-link {
    background-color: #3A3A8F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    /* Estiliza o botão de registro, incluindo cor de fundo, bordas, preenchimento e cursor de ponteiro */
}

button.register-link:hover {
    background-color: #2a2973;
    /* Muda a cor de fundo quando o botão é pressionado */
}

.user_list {
    margin-top: 50px;
    text-align: center;
    /* Define o espaçamento superior e centraliza o texto para a lista de usuários */
}

.user_list ul {
    list-style: none;
    padding: 0;
    /* Remove o estilo da lista para a lista de usuários */
}

.user_list li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Estiliza os itens da lista de usuários, define bordas, espaçamento e usa flexbox para espaçar os itens */
}

.user_list button {
    background-color: #23008D;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    /* Estiliza os botões da lista de usuários */
}

.user_list button:hover {
    background-color: #1b006a;
    /* Muda a cor do botão ao passar o mouse */
}

footer {
    background-color: #E6E6FA;
    padding: 10px 0;
    text-align: center;
    color: #2a2973;
    transform: translateY(-20px);
    box-shadow: 0px -3px 10px rgba(230, 230, 250, 0.8);
    /* Estiliza o rodapé, define cor de fundo, sombras e espaçamento */
}

/* Estilos para telas menores, como dispositivos móveis */
@media screen and (max-width: 730px) {
    .nav_bar {
        padding: 1.5rem 4rem;
        /* Reduz o preenchimento da barra de navegação em telas menores */
    }

    .nav_item {
        display: none;
        /* Esconde os itens de navegação em dispositivos móveis */
    }

    .mobile_menu_icon {
        color: #23008D;
        display: block;
        /* Exibe o ícone do menu para dispositivos móveis */
    }

    .mobile_menu {
        display: none;
        /* Esconde o menu móvel inicialmente */
    }

    .mobile_menu.open {
        display: block;
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 100%;
        /* Exibe o menu móvel quando ele estiver "aberto" */
    }

    .mobile_menu .nav_item {
        display: block;
        padding-top: 1.2rem;
        /* Mostra os itens de navegação no menu móvel */
    }

    .mobile_menu .login_button {
        display: block;
        padding: 1rem 2rem;
        /* Exibe e estiliza o botão de login no menu móvel */
    }

    .mobile_menu .login_button button {
        width: 100%;
        /* O botão de login ocupa toda a largura no menu móvel */
    }
}
