.config{
    background-color: #b8a6ee;    
    height: 90vh;
}



.config .config_container {
    margin: 50px auto;
    padding: 10px;
    height: 35%;
    width: 320px;
    background-color: #dcdcf3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.config .config_container h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #23008D;
}

.config .config_item {
    display: flex;
    align-items: 40px ;
    justify-content: start;
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgb(198, 120, 250);
    border-radius: 10px;
    transition: 0.3s ease;

}

.config  .config_item i{
    color: #23008D;
    text-decoration: none;
    font-size: 30px;
    margin-top: 5px;
    margin-right: 15%;
 
}


.config  .config_item a {
    color: #23008D;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
}

.config  .config_item p {
    font-size: 30px;
}

 

