/* General Page Styling */
.pageBackground {
    background-color: #d3d3f9;
    height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centraliza verticalmente */
    
}

/* Filters Section */
.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="date"],
select {
    padding: 10px;
    border: 1px solid #3f51b5;
    border-radius: 5px;
}

.search_btn {
    background-color: #512da8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Results Section */
.results {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #d1c4e9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 500px;
}

.card i {
    font-size: 40px;
    color: #512da8;
    margin-bottom: 10px;
}

.card p {
    color: #512da8;
    margin-bottom: 10px;
}

.card h2 {
    color: #3f51b5;
}

/* Gerar Section */
.gerar {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    text-align: center; /* Ajusta o texto para centralizado */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona um leve sombreado */
}

.gerar h1 {
    color: #512da8;
    margin-bottom: 20px;
}

/* Grafico Section */
.grafico {
    margin-left: auto;
    margin-top: -18%;
}

.grafico h1 {
    color: #512da8;
}
