<<<<<<< HEAD
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* body {
    background-color: #c5cae9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
} */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #c5cae9;
}

.header_left p, .header_right p {
    color: #3f51b5;
}

/*
main {
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin-top: 30px;
}*/

h1 {
    color: #512da8;
    margin-bottom: 20px;
}

>>>>>>> 8e6bf9eef7f1a1f8fda8ec732eeabb9bb596d0c9
.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
   
}

input[type="date"],
select {
    padding: 10px;
    border: 1px solid #3f51b5;
    border-radius: 5px;
}

.search_btn {
    background-color: #512da8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.results {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #d1c4e9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 500px;
}

.card i {
    font-size: 40px;
    color: #512da8;
    margin-bottom: 10px;
}

.card p {
    color: #512da8;
    margin-bottom: 10px;
}

.card h2 {
    color: #3f51b5;
}


.pageBackground {
    background-color: #d3d3f9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
}




.grafico{
    margin-left: auto;
    margin-top: -18%;
    
}

.grafico h2{

    color: #512da8;
   
}

.gerar{
    margin-right: auto; 

}

.gerar h1{
    
    color: #512da8;
   
}