/* Login.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #2E006E; /* Cor de fundo roxa */
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
}

.welcome_text {
    font-size: 1.2rem;
}

.logo_text {
    font-size: 1.2rem;
    font-weight: bold;
}

.login_box {
    background-color: #3c00d2; /* Cor de fundo da caixa de login */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

h2 {
    color: #2E006E; /* Cor do texto do título */
    margin-bottom: 20px;
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #2E006E;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #2E006E;
    border-radius: 5px;
    font-size: 1rem;
}



.btn {
    background-color: #45118d; /* Cor do botão */
    color: rgb(130, 34, 34);
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #4B0082; /* Efeito de hover no botão */
}

.logo {
    margin-top: 20px;
}

.logo img {
    max-width: 100px; /* Tamanho ajustado da logo */
}
