
header {
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 24px;
    color: #3A3A8F;
}

.nav_list ul {
    display: flex;
    list-style: none;
}

.nav_item {
    margin-left: 20px;
}

.nav_link {
    color: #3A3A8F;
    text-decoration: none;
    font-weight: bold;
}

.mobile_menu-icon button {
    background: none;
    border: none;
    cursor: pointer;
}

.mobile_menu {
    display: none;
    /* Menu oculto por padrão para mobile */
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_section {
    width: 100%;
    height: auto;
    position: relative;
    color: #2a2973;
}

.main_image {
    width: 100%;
    height: auto;
    max-height: 700px;
    object-fit: cover;
}

.form_container {
    background-color: white;
    padding: 20px;
    margin-top: 250px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h2 {
    color: #3A3A8F;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.register_link {
    display: block;
    margin-top: 20px;
    color: #3A3A8F;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.endereco {
    text-align: center;
    transform: translateY(-20px);
    color: #2a2973;
}

.logo_viver {
    text-align: center;
}