/* Estilo da área de login do usuário */
.LoginUsuario {
    width: 100%;  /* Tira a largura fixa */
    position: relative;
    color: #2a2973;
    padding: 0; /* Remover padding extra que afeta a centralização */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Garantir que ocupe toda a altura da tela */
}

/* Estilo da caixa de login */
.caixa {
    background-color: #c2c2f8;
    padding: 40px 50px; /* Ajustar o padding para melhor distribuir o conteúdo */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    position: absolute;  /* Isso vai permitir o alinhamento no centro da tela */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centralização exata */
}

/* Estilo do título dentro da caixa */
.caixa h2 {
    color: #0120a7;
    font-size: 40px;
    margin-bottom: 20px; /* Espaço abaixo do título */
}

/* Estilos de campos de CPF e Senha */
.cpf, .senha {
    margin-bottom: 20px;
    text-align: left;
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
}

.registerCadastro {
    margin-bottom: 20px;
    text-align: center;
    color: #3A3A8F;
}

/* Estilos dos links de registro */
.registerCadastro a {
    font-size: 18px;
}

/* Estilo do botão */
.caixa button {
    background-color: #3A3A8F;
    color: #ddd;
    padding: 20px 30px;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 20px; /* Ajuste de margin para não distorcer o layout */
    position: relative;
    width: 100%; /* Garantir que o botão ocupe toda a largura disponível */
}

/* Estilo do botão de cadastro ou outras ações */
.botao {
    padding: 12px 20px;
    background-color: #0120a7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px; /* Ajustar o espaçamento entre botões */
    width: 100%; /* Botão ocupa toda a largura */
}



.pagina{
    background-color: #dedef5c2;
    height: 100vh;
}


.imgvm {
    height: 90vh;            /* Ocupa toda a altura da tela */
    overflow: hidden;        /* Garante que a imagem não ultrapasse os limites do contêiner */
    position: relative;      /* Pode ser útil para posicionamento futuro */
}

.imgvm img {
    width: 100%;             /* Garante que a imagem ocupe toda a largura do contêiner */
    height: 100%;            /* Garante que a imagem ocupe toda a altura do contêiner */
    object-fit: cover;       /* Faz a imagem cobrir o contêiner sem distorcer */
    border-radius: 0;        /* Garantir que a imagem não tenha bordas arredondadas */
    position: absolute;      
    top: -2%;                  /* Alinha a imagem no topo do contêiner */
    left: 0;                 /* Garante que a imagem ocupe toda a largura do contêiner */
}

