

.header {
    width: 254%; /* Aumenta a largura para 120% da tela */
    background-color: #c2c2f8;
    box-shadow: 0px 3px 10px #c2c2f8;
    padding: 0;
    margin: 0;
    position: relative;
    left: -80%;
}


.nav_bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #23008D;
}

.nav_list {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav_list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.nav_item {
    margin: 0 15px;
    float: right;
}

.nav_link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #23008D;
    font-weight: 400;
}

.login_button button a {
    text-decoration: none;
    color: #23008D;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile_menu-icon {
    display: none;
}

.mobile_menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav_bar {
        padding: 1.5rem 4rem;
    }

    .nav_item {
        display: none;
    }

    .login_button {
        display: none;
    }

    .mobile_menu-icon {
        color: #23008D;
        display: block;
    }

    .mobile_menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile_menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile_menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile_menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile_menu .login_button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}
