.header {
    background-color: #E6E6FA;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro {
    padding: 30px;
    background-color: #BBADDF;
}

.containerI {
    display: flex;
    /* Torna o container um flex container */
    align-items: center;
    /* Alinha verticalmente a imagem e o texto */
    justify-content: flex-start;
    /* Garante que o conteúdo não se sobreponha */
    padding: 20px;
    background-color: #E6E6FA;
    color: #23008D;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.containerII {
    width: 100%;
    padding: 20px;
    background-color: #E6E6FA;
    color: #23008D;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.containerIII {
    width: 100%;
    padding: 20px;
    background-color: #E6E6FA;
    color: #23008D;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.containerIV {
    width: 100%;
    padding: 20px;
    background-color: #E6E6FA;
    color: #23008D;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.profilePic {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.introText {
    margin-left: 20px;
    max-width: 80%;
    /* Limita a largura do texto, deixando mais espaço para a imagem */
    text-align: left;
    /* Alinha o texto à direita */
}

.about {
    padding: 30px;
    background-color: #BBADDF;
    /*margin-top: 20px;*/
    /*padding: 40px;*/
}

.contato {
    padding: 30px;
    background-color: #BBADDF;
    /*padding: 40px;*/
    text-align: center;
}

.button {
    padding: 10px 20px;
    background-color: #001870;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.rod {
    padding: 30px;
    background-color: #BBADDF;
    /*padding: 40px;*/
    text-align: center;
}

.rodape {
    text-align: center;
    color: rgb(52, 3, 151);
    font-weight: bold;
    font-size: 25px;
    margin-top: 80px;
}

.controd {
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}