.header {
    background-color: #E6E6FA;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro {
    padding: 40px;
    background-color: #d4d4ea;
}

.container {
    width: 100%;
    padding: 20px;
    background-color: #c0c0f2;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.profilePic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.introText {
    margin-left: 20px;
}

.about {
    margin-top: 20px;
    padding: 20px;
}

.contact {
    padding: 20px;
    text-align: center;
}

.button {
    padding: 10px 20px;
    background-color: #001870;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.rodape {
    text-align: center;
    color: rgb(52, 3, 151);
    font-weight: bold;
    font-size: 25px;
    margin-top: 80px;
}

.controd {
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}

