* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0eef8;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #E6E6FA;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 3px 10px rgba(230, 230, 250, 0.8);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #23008D;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #23008D;
    font-weight: 400;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-section {
    width: 100%;
    position: relative;
    color: #2a2973;
}

.form-container {
    background-color: white;
    padding: 20px;
    margin-top: -20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width:400px;
    width: 100%;
    position: relative;
    margin-left: 100px;
}

h2 {
    color: #3A3A8F;
    margin-bottom: 10px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button.register-link {
    background-color: #3A3A8F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

button.register-link:hover {
    background-color: #2a2973;
}

.user-list {
    margin-top: 50px;
    text-align: center;
}

.user-list ul {
    list-style: none;
    padding: 0;
}

.user-list li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-list button {
    background-color: #23008D;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.user-list button:hover {
    background-color: #1b006a;
}

footer {
    background-color: #E6E6FA;
    padding: 10px 0;
    text-align: center;
    color: #2a2973;
    transform: translateY(-20px);
    box-shadow: 0px -3px 10px rgba(230, 230, 250, 0.8);
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        color: #23008D;
        display: block;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu.open {
        display: block;
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 100%;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }
}
