body {
    height: 100%;

    margin: 0;

    padding: 0;

    display: flex;

    justify-content: center;

    align-items: center;

    background-color: rgb(230, 230, 250);

    font-family: "Oswald", sans-serif;
}

.roxo {
    background-color: rgb(230, 230, 250);
    height: 50px;
    color: rgb(52, 3, 151);

}

#titulo_um {
    margin-top: 50px;
    text-align: left;
    color: rgb(52, 3, 151);
    font-weight: bold;
    font-size: 30px;
}

#menu {
    margin-top: 50px;
    text-align: right;
    text-align: right;
    padding: 5px;
    margin-top: -40px;
}

#menu a {
    text-decoration: none;
    color: rgb(52, 3, 151);
    margin-right: 30px;
}



#rodape {
    text-align: center;
    color: rgb(52, 3, 151);
    font-weight: bold;
    font-size: 25px;
    margin-top: 80px;
}

#controd {
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}

#profissionais {
    text-align: center;
    margin-top: 100px;
    text-decoration: underline;
    letter-spacing: 2px;
}


#conteupro {
    font-size: 15px;
    margin-bottom: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 colunas */
    gap: 30px;
    /* Espaço entre os itens */
    padding: 30px;
}

.grid-item {
    text-align: center;
    /* Centraliza o texto */
    font-size: 12px;
}

.grid-item img {
    max-width: 100%;
    /* Faz a imagem ocupar toda a largura do item */
    height: 300px;
    /* Define uma altura fixa para todas as imagens (ajuste conforme necessário) */
    object-fit: cover;
    /* Mantém a proporção da imagem, cortando partes se necessário */
}

#mapa {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
    margin-bottom: 50px;
}

#map {
    height: 400px;
    /* altura do mapa */
    width: 100%;
    /* largura do mapa */
    text-align: center;
}