.roxo {
    color: rgb(52, 3, 151);
}

.profissionais {
    text-align: center;
    margin-top: 100px;
    text-decoration: underline;
    letter-spacing: 2px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}

.grid_container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 30px; /* Espaço entre os itens */
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.grid_item {
    margin-left: 10%;
    text-align: center;
    font-size: 12px;
    background-color: #E6E6FA; /* Cor de fundo do card */
    border-radius: 20px; /* Borda arredondada do card */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease; /* Animação de transição */
    width: 80%;
    height: 97%;
}

.grid_item:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
}

.grid_item img {
    width: 100%;
    border-radius: 20px;
    /* Ocupe toda a largura do grid item */
    aspect-ratio: 1 / 1; /* Mantém a proporção 1:1 para um formato quadrado */
    object-fit: cover; /* Ajusta a imagem para cobrir completamente o espaço disponível */
    /* Deixa a imagem redonda */
    margin-bottom: 15px; /* Espaçamento entre a imagem e o nome */
}

.conteupro {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    margin-top: 10px; /* Espaçamento adicional acima do texto */
}

.mapa {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
}

.map {
    height: 400px; /* altura do mapa */
    width: 100%; /* largura do mapa */
    text-align: center;
    margin-bottom: 20px;
}
