.roxo {
    color: rgb(52, 3, 151);
}

.profissionais {
    text-align: center;
    margin-top: 100px;
    text-decoration: underline;
    letter-spacing: 2px;
    width: 100%;
}

.grid_container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    /* 3 colunas */
    gap: 30px;
    /* Espaço entre os itens */
    padding: 30px;
}

.grid_item {
    text-align: center;
    /* Centraliza o texto */
    font-size: 12px;
}

.grid_item img {
    width: 80%;
    /* Ocupe toda a largura do grid item */
    aspect-ratio: 1 / 1;
    /* Mantém a proporção 1:1 para um formato quadrado */
    object-fit: cover;
    /* Ajusta a imagem para cobrir completamente o espaço disponível */
    border-radius: 8px;
    /* (Opcional) Arredonde os cantos para um visual mais suave */
}

.conteupro {
    font-size: 40px;
    line-height: 1.6;
    text-align: center;
    /* Faz o texto ser justificado */
}

.mapa {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
    margin-bottom: 50px;
}

.map {
    height: 400px;
    /* altura do mapa */
    width: 100%;
    /* largura do mapa */
    text-align: center;
}

.rodape {
    text-align: center;
    color: rgb(52, 3, 151);
    font-weight: bold;
    font-size: 25px;
    margin-top: 80px;
}

.controd {
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}