body{
    font-family: "Oswald", sans-serif;
    background-color: rgb(230,230,250);
}

.roxo {
    background-color: rgb(230,230,250);
    height: 100px;
    color: rgb(52,3,151);
}

#titulo_um{
    float: left;

}
#menu{ 
    float: right;
    width: 60%;
    text-align: right;
    margin: 0 100px;
    padding: 40px 100px;

}

#pagina_inicial{
    width: 720px;
    margin: 50px auto 20px auto;
}

#menu a{
    text-decoration: none;
    padding: 5px;
    color:rgb(52,3,151) ;
}

h1{
    margin-left: 20px;
}
.texto_um{
    text-align: center;
    width: 50%;
    background-color:rgb(52,3,151) ;
    float: right;
    position: relative;
}

img{
    max-width: 100%;
}
#meio{
    width: 80%;
    background-color: rgb(52,3,151);
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#mao{
    width: 50%;
    display: flex;
}

.h1{
    text-align: center;
}

.cor{
    color: white;
}

#titulo_um{
    margin-left: 40%;
    margin-top: 10%;
}

#paragrafo{
    margin-left: 2% ;
    margin-top: 20%;
    text-align: center;
    font-size: 20px;
    

}

#final{
    width: 80%;
    margin: 0 10%;   

}
#titulo_dois{
    margin-top: 20% center ;
    text-align: center;
   color:  rgb(52,3,151);
   font-weight: bold;
}