.navBarr{
  font-size: 20px;
}
 
.navbarLeft a {
    color: #3b00b9;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .navbarRight a {
    text-decoration: none; 
    cursor: pointer; 
    color: #3b00b9;
   
}

