.rod {
  background-color: #c2c2f8;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerIV {
  width: 86%;
  padding: 1px;
  background-color: #E6E6FA;
  border: 1px solid #ddd;
  border-radius: 30px;
  margin-bottom: 30px;
}

.rodape {
  text-align: center;
  color: #260077;
  font-weight: bold;
  font-size: 30px;
  margin-top: 30px;
}