.navInicial{
    font-size: 20px;
    background-color: #3b00b9;
    color: bisque;
    background-color:#c2c2f8;
}

.navInicialEsq a{

color: #3b00b9;
padding: 14px 20px;
text-decoration: none;
background-color:#c2c2f8;
}

.navInicialDire a{
    text-decoration: none;
    cursor: pointer;
    background-color:#c2c2f8;
    color:#3b00b9;
    font-family: 'Roboto', sans-serif

}

.navInicial header{
    
    background-color:#c2c2f8;
    
}
