body {
    height: 100%;
    /* Faz o html e o body ocuparem 100% da altura da tela */
    margin: 0;
    /* Remove margens padrão */
    padding: 0;
    /* Remove preenchimento padrão */
    display: flex;
    /* Usado para centralizar o conteúdo */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    background-color: rgb(230, 230, 250);
    /* Cor de fundo */
    font-family: "Oswald", sans-serif;
    /* Fonte do texto */
}

.roxo {
    background-color: rgb(230, 230, 250);
    height: 50px;
    color: rgb(52, 3, 151);

}

#titulo_um {
    margin-top: 50px;
    text-align: left;
    color: rgb(52, 3, 151);
    font-weight: bold;
    font-size: 30px;
}

#menu a {
    text-decoration: none;
    padding: 5px;
    color: rgb(52, 3, 151);
}


#rodape{
    text-align: center;
    color: rgb(52, 3, 151);
    font-weight: bold;
    font-size: 15px;
}

#controd {
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}

#profissionais {
    text-align: center;
}


#conteupro {
    font-size: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 colunas */
    gap: 30px;
    /* Espaço entre os itens */
    padding: 30px;
}

.grid-item {
    text-align: left;
    /* Centraliza o texto */
    font-size: 12px;
}

.grid-item img {
    max-width: 100%; /* Faz a imagem ocupar toda a largura do item */
    height: 300px; /* Define uma altura fixa para todas as imagens (ajuste conforme necessário) */
    object-fit: cover; /* Mantém a proporção da imagem, cortando partes se necessário */
}