* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e1d8f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    

}

/*.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #6e5cb5;
    width: 30%;
    padding: 20px;
    color: rgb(1, 3, 160);
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: rgb(1, 3, 160);
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}*/

.form-container {
    background-color: white;
    /* Define o fundo do contêiner do formulário como branco */
    padding: 20px;
    /* Adiciona 20 pixels de espaço interno (padding) em todos os lados do contêiner, criando uma margem interna */
    margin-top: 100px;
    /* Adiciona 100 pixels de margem superior, movendo o contêiner para baixo em relação ao topo da página */
    border-radius: 10px;
    /* Arredonda os cantos do contêiner com um raio de 10 pixels, dando um efeito de bordas arredondadas */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Aplica uma sombra ao redor do contêiner com deslocamento horizontal de 0px, deslocamento vertical de 4px e desfoque de 8px. A sombra é levemente preta, com uma opacidade de 10% */
    text-align: center;
    /* Alinha o conteúdo textual no centro do contêiner */
    max-width: 400px;
    /* Define a largura máxima do contêiner como 400 pixels, evitando que o contêiner ultrapasse esse valor em telas maiores */
    width: 100%;
    /* Garante que o contêiner ocupe 100% da largura disponível, respeitando o limite de `max-width` */
    position: absolute;
    /* Posiciona o contêiner de forma absoluta em relação ao seu elemento pai posicionado ou ao documento se não houver um pai posicionado */
    top: 35%;
    /* Define a posição superior do contêiner a 35% da altura da janela, movendo-o para baixo em relação ao topo */
    left: 50%;
    /* Define a posição esquerda do contêiner a 50% da largura da janela, movendo-o para o centro horizontalmente */
    transform: translate(-50%, -50%);
    /* Usa a transformação para ajustar o posicionamento, movendo o contêiner 50% para a esquerda e para cima em relação à sua própria largura e altura, centralizando-o na tela */
}



.content {
    background-color: #e1d8f0;
    width: 100%;
    padding: 80px;
}

.content h2 {
    color: #4f3c75;
    margin-bottom: 10px;
}

.info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}

.info-item span {
    font-size: 16px;
    margin-right: 10px;
}

input {
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 70%;
    padding: 5px;
}

input:disabled {
    color: #4f3c75;
}

.edit-btn {
    background-color: #4f3c75;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #3c2958;
}

footer {
    position: fixed;
    bottom: 0;
    /* Posiciona o rodapé na parte inferior da página */


    transform: translateX(-50%);
    /* Centraliza horizontalmente o rodapé */

    width: 100%;
    /* Garante que o rodapé ocupe toda a largura da página */

    text-align: center;
    /* Centraliza o texto dentro do rodapé */

  
}

footer img {
    width: 100px;
}