/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0ff;
    color: #23008D;
    padding-bottom: 50px;
}

/* Cabeçalho */
header {
    background-color: #f0f0ff;
    padding: 10px 0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
}

.logo h1 {
    color: #23008D;
}

.nav-list ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: #23008D;
    font-size: 1.1rem;
}

/* Container principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.content {
    background-color: #d6c6ff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.content h2 {
    color: #23008D;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #23008D;
}

.info-item span {
    font-size: 1.1rem;
}

.edit-btn {
    text-decoration: none;
    color: #23008D;
    display: flex;
    align-items: center;
}

.edit-btn img {
    margin-left: 5px;
}

/* Rodapé */
footer.endereco {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0ff;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1);
    color: #23008D;
    font-size: 0.9rem;
}
