/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2FF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #E5E6FB;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Adicionando a imagem de fundo */
    background-image: url('samara/login/img/velho-mulher.webp'); /* Substitua 'background.jpg' pelo nome da sua imagem de fundo */
    background-size: cover;  /* Faz a imagem de fundo cobrir toda a área */
    background-position: center;  /* Centraliza a imagem de fundo */
}

.form-section {
    background-color: #FFF;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;  /* Garante que o formulário apareça sobre a imagem de fundo */
    position: relative;  /* Torna a posição do formulário relevante */
}

.form-container {
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #4A47A3;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    text-align: left;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #CCC;
    border-radius: 4px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #4A47A3;
    color: #FFF;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #373693;
}

.register-link {
    display: block;
    margin-top: 20px;
    color: #4A47A3;
    text-decoration: none;
}

footer {
    background-color: #E5E6FB;
    text-align: center;
    padding: 10px;
}
